In [152]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import urllib.request
import sys
import pyodbc
from psycopg2 import connect

In [141]:
# reading the needed files
df_new1= pd.read_parquet('UK_local_and_regional_CO2_emissions.parquet', engine='pyarrow') 
df_new2= pd.read_parquet('UK_local_and_regional_CO2_emissions_pollution_inventory.parquet', engine='pyarrow') 
df_new4= pd.read_parquet('details.parquet', engine='pyarrow')

In [142]:
# only getting necessary colmns
df_new2 = df_new2.iloc[:, [0,1,2,3,4, 5,20]]
df_new2 = df_new2[df_new2['2019 year'] != '0.0']
df_new2

,Local Authority Distract Name,Operator,Site,Postcode,Reference,Substance Name,2019 year
0,Aberdeen City,Arjo Wiggins Ltd,Stoneywood Mill,AB21 9AB,0,Carbon dioxide,57.722
5,Aberdeenshire,ExonMobil,SAGE,0,0,Carbon dioxide,94.324997
8,Aberdeenshire,National Grid Gas Plc,Aberdeen,AB32 6US,0,Carbon dioxide,26.857664
9,Aberdeenshire,National Grid Gas Plc,St Fergus,AB42 3EP,0,Carbon dioxide,26.367117
10,Aberdeenshire,Scottish & Southern Energy Plc,Peterhead,AB42 3BZ,IPC/N/20019,Carbon dioxide,1578.535572
...,...,...,...,...,...,...,...
2561,Wychavon,Severn Waste Services Ltd,Mercia Envirecover Site,DY10 4JB,XP3935TX,Carbon dioxide,129.766
2570,Wyre,Sita (Lancashire) Ltd,Jameson Road Landfill Site,FY7 8TW,GP3937PZ,Carbon dioxide,19.5
2571,Wyre,Victrex Manufacturing Ltd,Thornton-Cleveleys,FY5 4QD,BU5640IA,Carbon dioxide,19.1
2573,Wyre,Vinnolit Hillhouse Ltd,Thornton-Cleveleys,FY5 4QD,TP3833GG,Carbon dioxide,11.64
2578,York,Nestle UK Ltd,York,YO91 1XY,BO9298IQ,Carbon dioxide,32.353

In [143]:
df_merge1 = pd.merge(df_new1[df_new1['Year'] == 2019].iloc[:, :11], df_new2, how='inner',left_on='Local Authority', right_on='Local Authority Distract Name')
#df_merge1.to_parquet("merged.parquet")

In [144]:
df_merge1['2019 year'] = df_merge1['2019 year'].astype('float')

In [145]:
# creating label by if oil takes half of the year number 
df_merge1['label'] = np.where(
    df_merge1.iloc[:,6] == df_merge1['2019 year']/2, 0, np.where(
    df_merge1.iloc[:,6] >  df_merge1['2019 year']/2, 1, -1))

In [149]:
df_merge1.to_parquet('merged.parquet')

In [147]:
df_merged= pd.read_parquet('merged.parquet', engine='pyarrow')

In [150]:
df_merge1

,Region/Country,Second Tier Authority,Local Authority,Code,Year,Industry Electricity,Industry Gas,Industry 'Other Fuels',Large Industrial Installations,Agriculture,Industry Total,Local Authority Distract Name,Operator,Site,Postcode,Reference,Substance Name,2019 year,label
0,North East,Darlington,Darlington,E06000005,2019,17.786253,64.760412,23.930058,0.050426,5.952103,112.479252,Darlington,Ineos ChlorVinyls Ltd,Newton Aycliffe,DL5 6EA,FP3833NP,Carbon dioxide,49.343000,1
1,North East,Durham,County Durham,E06000047,2019,110.906985,86.680235,130.746196,10.899522,45.994055,385.226992,County Durham,Dalkia Bio Energy Ltd,Chilton Biomass Plant,DL17 0SD,BP3736HA,Carbon dioxide,0.043075,1
2,North East,Durham,County Durham,E06000047,2019,110.906985,86.680235,130.746196,10.899522,45.994055,385.226992,County Durham,Lucite International UK Ltd,Newton Aycliffe,DL5 6YE,CP3335LZ,Carbon dioxide,4.700560,1
3,North East,Gateshead,Gateshead,E08000037,2019,45.752494,76.066494,35.248639,4.795098,1.542726,163.405451,Gateshead,Octagon Green Solutions Ltd,Blaydon Quarry,NE21 4SX,WP3537ZG,Carbon dioxide,22.400000,1
4,North East,Gateshead,Gateshead,E08000037,2019,45.752494,76.066494,35.248639,4.795098,1.542726,163.405451,Gateshead,Sita Environment Ltd,Path Head Quarry Landfill,NE21 4SP,BJ7824IK,Carbon dioxide,22.200000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,Northern Ireland,Northern Ireland,Mid and East Antrim,N09000008,2019,38.559634,56.107100,217.406073,11.847051,45.652023,369.571881,Mid and East Antrim,Kilroot Power Ltd,Kilroot,BT38 7LX,0120/06A,Carbon dioxide,1010.033350,-1
620,Northern Ireland,Northern Ireland,Mid and East Antrim,N09000008,2019,38.559634,56.107100,217.406073,11.847051,45.652023,369.571881,Mid and East Antrim,Premier Power Ltd,Ballylumford,BT40 3RS,0125/06A,Carbon dioxide,1141.294000,-1
621,Northern Ireland,Northern Ireland,Mid Ulster,N09000009,2019,75.808282,24.178805,349.697965,357.242559,92.253520,899.181131,Mid Ulster,Dale Farm Ltd,Dunmanbridge,BT80 9UU,0094/05A,Carbon dioxide,18.977000,1
622,Northern Ireland,Northern Ireland,Mid Ulster,N09000009,2019,75.808282,24.178805,349.697965,357.242559,92.253520,899.181131,Mid Ulster,Lafarge Cement (Ireland) Ltd,Cookstown,BT80 9AR,0052/04A,Carbon dioxide,313.326000,-1
623,Northern Ireland,Northern Ireland,Mid Ulster,N09000009,2019,75.808282,24.178805,349.697965,357.242559,92.253520,899.181131,Mid Ulster,Moy Park Ltd,Dungannon,BT71 6LN,0080/05A,Carbon dioxide,25.460000,1

In [155]:
# sending data to psql db
conn = connect(
    dbname = "Initialdatabase",
    user = "shihao",
    host = "de166.c0imhubqi7yg.us-east-1.rds.amazonaws.com",
    password = "qwerty123")
cur = conn.cursor()
count =0
for index, row in df_merge1.iterrows():
    cur.execute("INSERT INTO public.merged (RegionCountry,SecondTierAuthority, LocalAuthority, Code, Year, IndustryElectricity, IndustryGas, IndustryOtherFuels, LargeIndustrialInstallations, Agriculture, IndustryTotal, LocalAuthorityDistractName, Operator,Site,Postcode,Reference,SubstanceName,year2019,label) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",(row[0], row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11],row[12],row[13],row[14],row[15],row[16],row[17],row[18]))
    conn.commit()
    count +=1
    print("success"+str(count))    
cur.close()
conn.close()

success1
success2
success3
success4
success5
success6
success7
success8
success9
success10
success11
success12
success13
success14
success15
success16
success17
success18
success19
success20
success21
success22
success23
success24
success25
success26
success27
success28
success29
success30
success31
success32
success33
success34
success35
success36
success37
success38
success39
success40
success41
success42
success43
success44
success45
success46
success47
success48
success49
success50
success51
success52
success53
success54
success55
success56
success57
success58
success59
success60
success61
success62
success63
success64
success65
success66
success67
success68
success69
success70
success71
success72
success73
success74
success75
success76
success77
success78
success79
success80
success81
success82
success83
success84
success85
success86
success87
success88
success89
success90
success91
success92
success93
success94
success95
success96
success97
success98
success99
success100
success101
success102
success103
success104
success105
success106
success107
success108
success109
success110
success111
success112
success113
success114
success115
success116
success117
success118
success119
success120
success121
success122
success123
success124
success125
success126
success127
success128
success129
success130
success131
success132
success133
success134
success135
success136
success137
success138
success139
success140
success141
success142
success143
success144
success145
success146
success147
success148
success149
success150
success151
success152
success153
success154
success155
success156
success157
success158
success159
success160
success161
success162
success163
success164
success165
success166
success167
success168
success169
success170
success171
success172
success173
success174
success175
success176
success177
success178
success179
success180
success181
success182
success183
success184
success185
success186
success187
success188
success189
success190
success191
success192
success193
success194
success195
success196
success197
success198
success199
success200
success201
success202
success203
success204
success205
success206
success207
success208
success209
success210
success211
success212
success213
success214
success215
success216
success217
success218
success219
success220
success221
success222
success223
success224
success225
success226
success227
success228
success229
success230
success231
success232
success233
success234
success235
success236
success237
success238
success239
success240
success241
success242
success243
success244
success245
success246
success247
success248
success249
success250
success251
success252
success253
success254
success255
success256
success257
success258
success259
success260
success261
success262
success263
success264
success265
success266
success267
success268
success269
success270
success271
success272
success273
success274
success275
success276
success277
success278
success279
success280
success281
success282
success283
success284
success285
success286
success287
success288
success289
success290
success291
success292
success293
success294
success295
success296
success297
success298
success299
success300
success301
success302
success303
success304
success305
success306
success307
success308
success309
success310
success311
success312
success313
success314
success315
success316
success317
success318
success319
success320
success321
success322
success323
success324
success325
success326
success327
success328
success329
success330
success331
success332
success333
success334
success335
success336
success337
success338
success339
success340
success341
success342
success343
success344
success345
success346
success347
success348
success349
success350
success351
success352
success353
success354
success355
success356
success357
success358
success359
success360
success361
success362
success363
success364
success365
success366
success367
success368
success369
success370
success371
success372
success373
success374
success375
success376
success377
success378
success379
success380
success381
success382
success383
success384
success385
success386
success387
success388
success389
success390
success391
success392
success393
success394
success395
success396
success397
success398
success399
success400
success401
success402
success403
success404
success405
success406
success407
success408
success409
success410
success411
success412
success413
success414
success415
success416
success417
success418
success419
success420
success421
success422
success423
success424
success425
success426
success427
success428
success429
success430
success431
success432
success433
success434
success435
success436
success437
success438
success439
success440
success441
success442
success443
success444
success445
success446
success447
success448
success449
success450
success451
success452
success453
success454
success455
success456
success457
success458
success459
success460
success461
success462
success463
success464
success465
success466
success467
success468
success469
success470
success471
success472
success473
success474
success475
success476
success477
success478
success479
success480
success481
success482
success483
success484
success485
success486
success487
success488
success489
success490
success491
success492
success493
success494
success495
success496
success497
success498
success499
success500
success501
success502
success503
success504
success505
success506
success507
success508
success509
success510
success511
success512
success513
success514
success515
success516
success517
success518
success519
success520
success521
success522
success523
success524
success525
success526
success527
success528
success529
success530
success531
success532
success533
success534
success535
success536
success537
success538
success539
success540
success541
success542
success543
success544
success545
success546
success547
success548
success549
success550
success551
success552
success553
success554
success555
success556
success557
success558
success559
success560
success561
success562
success563
success564
success565
success566
success567
success568
success569
success570
success571
success572
success573
success574
success575
success576
success577
success578
success579
success580
success581
success582
success583
success584
success585
success586
success587
success588
success589
success590
success591
success592
success593
success594
success595
success596
success597
success598
success599
success600
success601
success602
success603
success604
success605
success606
success607
success608
success609
success610
success611
success612
success613
success614
success615
success616
success617
success618
success619
success620
success621
success622
success623
success624